/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.container-header {
    height: 70px;
    padding: 10px;
    background-color: white;
}

#logo-img {
   vertical-align: middle; 
}

#logo-text {
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #051a31;
}

/* NAV */
.container-nav {
    margin: 50px 200px 0px;
    padding: 2em;
    background-color: white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #f6f8f9;
    border-left: 1px solid white;
    border-radius: 5px;
}

/* buttons */
#task-button {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    border-radius: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

#section-button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: lightgrey;
}

/* MAIN */
.container-main {
    margin: 0px 200px 20px;
    padding: 2em;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* LISTS */
ol {
    list-style: none;
    line-height: 2em;
}

ul {
    list-style: none;
}

.strong {
    font-weight: 700;
}

/* SPECIAL CHARACTERS */
.check {
    display: inline-block;
    height: 20px;
    background-color: white;
    border: 1px solid green;
    border-radius: 30px;
    color: green;
    line-height: 0.8em;
    padding: 3px;
}

.cross {
    display: inline-block;
    height: 20px;
    background-color: white;
    border: 1px solid red;
    border-radius: 30px;
    color: red;
    line-height: 0.8em;
    padding: 4px;
}

/* COLOURED TAGS */
.tag {
    border-radius: 40px;
    padding: 8px;
    color: white;
    font-size: 10px;
}

.blue-editorial {
    border:1px solid #47adf1;
    background-color: #47adf1;
}

.purple-goal {
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
}

.green-recruiting {
    border: 1px solid #64c0a9;
    background-color: #64c0a9;
}


.orange-mobile {
    border: 1px solid #f29e33;
    background-color: #f29e33;
}

.pink-website {
    border: 1px solid #d863a1;
    background-color: #d863a1;
}

.green-sales {
    border: 1px solid #b0c925;
    background-color: #b0c925;
}